<!DOCTYPE html>

<html>
<head>
    <title>Sublimate</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="/img/icon.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed" sizes="196x196" href="/img/icon.png">

    <meta name="application-name" content="Sublimate" />

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link rel='stylesheet' href='css/style.css'>
    
    <script src="js/cash.js"></script>
</head>

<body>
    <div class="outer">
        <div class="middle">
            <div id="belltimes">
                <table></table>
            </div>

            <div id="right-side">
                <p class="subtext" id="week">&nbsp;</p>

                <div id="main" onclick="toggleClass($(this), 'simpleMode')" class="outer">
                    <div class="middle">
                        <p id="next">Loading</p>
                        <p class="subtext">in</p>
                        <p id="time">00h, 00m, 00s</p>
                    </div>
                </div>

                <div id="notices"></div>
            </div>

        </div>
    </div>

    <%- include ../partials/contextmenu.ejs %>

    <script src="js/common.js"></script>
    <script src="js/customise.js"></script>
    <script src="js/authenticated.js"></script>
</body>
</html>